body {
    line-height: 2;
}

.main {
    background-color: #6e60cc !important; 
}

.jumbotron-bg {
    background-color: #6e60cc !important; 
}

.main-text{
    text-align: center;
    color: white; 
    font-size: 15px;
}