.thememain-white{
    background: white;
}

.thememain-header{
    background: linear-gradient(165deg,#6e60cc,#484389);
    color:white;
}

.thememain-header a{
    color:white !important;
}

.thememain-blue{
    background: linear-gradient(165deg,#6e60cc,#484389);
    width: 100%;
    min-height: 30rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
    color:white;
}

.theme-text{
    text-align: center;
    /*padding-top: 10px;*/
    font-size: 16px;
    line-height: 1.5;
}

.theme-search{
    display: block !important;
    margin-top: 10px;
    text-align:center;
}

.theme-search-input{
    width: 60% !important;
    margin-top: 10px;
}

.theme-search-btn{
    width: 14% !important;
    margin-top: 10px !important;
}

.content-main{
    width:980px;
}

.content-main h3{
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-left: 41px;
    border-bottom: 1px solid #ebebeb;
}

.content-main ul{
    list-style : none;
}

.content-main li{
    padding-bottom: 5px;
}

.theme-text a{
    color: #00A64D;
    margin-left:10px;
}

.banner-text{
    margin-top:20px;
    font-size: 14px;    
}

.banner-text h2{
    font-size: 25px !important; 
    line-height: 1.5;
}

.banner-text p{
    font-size: 17px !important; 
    line-height: 1.5;
    word-wrap: break-word;
}

.search-content{
    margin-top:15px;
}